:root {
    --light-cream: #259485;
    --light-dark: #f6f6f6;
    --dark: #164741;
    --title-color: black;
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

.container-fluid {
    overflow: hidden;
}

body, p, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0px;
    padding: 0px;
}

.navbar-nav .nav-link:hover {
    color: #259485 !important;
    transform: scale(1.04);
}

.container {
    max-width: 85%;
}

.footer-f {
    border-color: var(--light-cream);
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    height: 53px;
}

button:focus {
    outline: none;
}

.developer-logo {
    width: auto;
    height: 66px;
}

.navbar.navbar-expand-md {
    padding-top: 0px;
    padding-bottom: 2px;
}

.navbar-nav {
    gap: 0px 2px;
}

.nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-right: 1px solid rgba(66, 75, 124, 0.24);
    color: rgb(10, 10, 10) !important;
}

.newClass {
    width: 100%;
    top: 0px;
    z-index: 98;
    background-color: rgb(255, 255, 255);
    position: fixed !important;
}

.location-p {
    font-family: Roboto-Medium;
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.navbar-nav .last-li-2 a {
    border: none;
}

.phone-icon {
    width: 40px;
    height: 40px;
    position: relative;
    animation: ring 2s infinite;
}
.phone-icon::before,
.phone-icon::after {
    content: '';
    position: absolute;
    border: 5px solid green;
    border-radius: 50%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: pulse 2s infinite;
}
.phone-icon::after {
    animation-delay: 1s;
}
@keyframes ring {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    70% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}
.phone-svg {
    fill: green;
    height: 25px;
    width: 25px;
}

.flex-button-custom {
    position: absolute;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 148px;
    z-index: 5;
}

.carousel-control-prev {
    z-index: 9;
    width: 40px;
    height: 40px;
    background-color: var(--light-cream);
    opacity: 1;
    border-radius: 50%;
    top: 48%;
    left: 20px;
    position: relative;
}

.carousel-control-next {
    z-index: 9;
    width: 40px;
    height: 40px;
    background-color: var(--light-cream);
    opacity: 1;
    border-radius: 50%;
    top: 48%;
    right: 20px;
    position: relative;
}

.carousel-control-prev-icon {
    width: 15px;
    height: 15px;
}

.carousel-control-next-icon {
    width: 15px;
    height: 15px;
}


.slider-container .flex-custom {
    align-items: center;
    flex-wrap: wrap;
}

.slider-container .flex-custom .box {
    padding: 6px 15px;
    border: 1px solid rgb(2, 2, 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px 6px;
    font-family: Roboto-Medium;
    letter-spacing: 1px;
    border-radius: 20px;
    font-size: 16px;
}

.slider-container .flex-custom .flex-custom-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px 20px;
    margin-left: 10px;
    width: 84%;
}

.slider-container .flex-custom .flex-custom-2 .box h5 {
    font-family: Roboto-Bold;
    color: var(--light-cream);
    font-size: 16px !important;
}

.slider-img {
    width: 100%;
    height: 79vh;
    object-fit: cover;
    border-radius: 20px;
    /* animation: 8s linear 0s infinite normal none running zoom-out;
    transform: scale(1.2); */
}

@keyframes zoom-out {
    100% {
        transform: unset;
    }
}

.slider-box {
    position: relative;
    width: 96%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    margin: 0px auto;
    border-bottom: 1px solid rgba(53, 53, 53, 0.1);
}

.slider-box::after {
    content: "";
    width: 100%;
    height: 35vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.slider-container {
    padding-bottom: 10px;
}

.project-name-top {
    font-family: Roboto-Bold;
    color: rgb(11, 11, 11);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slider-content {
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.project-logo-img {
    width: auto;
    height: 108px;
    margin-bottom: 4px;
}

.slider-box::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 2px;
    left: 0px;
    z-index: 2;
}

.key-highlights {
    margin-bottom: 0px;
    margin-top: 14px;
    font-family: Roboto-Medium;
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
}

.location-heading {
    font-size: 20px;
    font-weight: 800;
    font-family: Roboto-Medium;
    color: #ffffff;
    margin-bottom: 5px;
    width: fit-content;
    margin: auto;
    border: 5px solid #ffffff;
    padding: 6px 40px;
}

.slider-content-2 {
    position: absolute;
    bottom: 40%;
    left: 0px;
    z-index: 3;
    width: 100%;
    text-align: center;
}
.bann-p {
    color: #fff;
    margin: 6px 0;
}
.typology-heading-1 {
    font-family: Roboto-Medium;
    
    font-size: 29px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 12px;
}

.starting-price {
    border: 1px solid #fff;
    width: fit-content;
    padding: 3px 2px 3px 10px;
    font-size: 24px;
    color: #fff;
    margin: 5px auto 0px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-family: Roboto-Medium;
    position: relative;
    left: 0;
}

.starting-price span {
    background-color: var(--light-cream);
    color: rgb(255, 255, 255);
    padding: 5px 23px;
    border-radius: 20px;
}


.enquiryBtn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 99;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
    background-color: black;
}

.enquiryBtn i {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
    background-color: #259485;
}

.enquiryBtn i:hover {
    background: linear-gradient(2255deg,var(--primary-color),var(--secondary-color));
}

.stickyForm {
    width: 295px;
    position: fixed;
    right: 9px;
    bottom: 1rem;
    padding: 1.25rem 1.25rem 0px;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.sideImg .inner::before, .iconsContainer .iconBox .in::before, .fpContainer .fbBox .inner::before, .location-advantages .inner::before {
    content: "";
    position: absolute;
    inset: -9px;
    border: 1px solid red;
}

.form-close {
    position: absolute;
    top: 0px;
    right: -9px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
    background-color: #164741;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 1;
    color: rgb(255, 255, 255);
    padding-bottom: 6px;
    font-weight: 900;
    font-size: 20px;
}

.form-close:hover {
    background: #259485;
}

.stickyForm .form-tag {
    font-size: 14px;
}

.stickyForm h6 {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}

.stickyForm .form-group {
    margin-bottom: 10px;
}

.stickyForm .form-control, .modal-body .form-control {
    border-bottom: 2px solid rgb(234, 234, 234);
    background-color: rgb(241, 241, 241);
    color: var(--body-color);
    padding: 8px 10px;
    font-size: 14px;
}

.envelope-icon {
    width: 50px;
    height: 50px;
}

.readmore.mt-0 button {
    width: 100%;
    padding: 8px 10px;
    color: rgb(255, 255, 255);
    background-color: #164741;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: Roboto-Medium;
    border: none;
    cursor: pointer;
}

.ivr-img-form {
    width: auto;
    height: 14px;
    filter: invert(1);
    margin-right: 6px;
}

.ivr-form {
    padding: 5px 10px;
    margin-top: 10px;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Roboto-Medium;
    background-color: green;
}

.scroll-content {
    opacity: 0;
    transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
}

.ivr-form:hover {
    color: rgb(255, 255, 255);
}

.slide_left {
    transform: translateX(-100%);
}

.slide_right {
    transform: translateX(100%);
}

.overview-contaier {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    max-height: auto;
}

.overview-contaier .custom-section-heading {
    font-family: Roboto-Medium;
    color: 259485;
    font-size: 50px;
    width: 80%;
    letter-spacing: 0.5px;
}

.overview-contaier .top-sub-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #259485;
    width: fit-content;
    margin-bottom: 10px;
    color: #259485;
    
}

.overview-contaier .project-name-heading {
    color: #259485;
    font-family: Roboto-Medium;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 25px;
    position: relative;
    left: 135px;
    letter-spacing: 0.5px;
}

.overview-contaier .project-name-heading::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -130px;
    width: 120px;
    height: 1px;
    background-color: #259485;
}

.overview-contaier .para-content {
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    line-height: 27px;
    width: 86%;
    font-size: 17px;
    color: rgb(237, 237, 237);
}

.overview-contaier .highlights-box {
    background-color: rgb(246, 246, 246);
    padding: 20px 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.overview-contaier .highlights-box ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: Roboto-Medium;
    align-items: center;
}

.overview-contaier .highlights-box ul li .pdf-icon-img {
    width: auto;
    height: 38px;
    border-radius: 50%;
    padding: 6px;
    margin-right: 8px;
}

.overview-contaier .overview-img-apart {
    border-radius: 10px;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.overview-contaier .btn-custom img {
    width: auto;
    height: 25px;
    filter: invert(1);
    margin-right: 8px;
}

.overview-contaier .btn-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: black;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: Roboto-Medium;
}

.overview-contaier .custom-group {
    padding: 0px;
    margin-top: 14px;
}

.overview-contaier .content-h-box {
    border: 1px solid #259485;
    padding: 0px 10px;
    border-radius: 10px;
}

.highlights-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--light-dark);
    position: relative;
}

.highlights-container .top-sub-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #259485;
    width: fit-content;
    margin: 0px auto 10px;
    text-transform: uppercase;
    color: #259485;
    
}

.highlights-container .custom-section-heading {
    font-family: Roboto-Medium;
    color: var(--light-cream);
    font-size: 48px;
    letter-spacing: 0.5px;
}

.highlights-container .project-name-heading {
    color: #259485;
    font-family: Roboto-Medium;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 30px;
    position: relative;
    left: 135px;
    top: 10px;
    letter-spacing: 0.5px;
    display: inline;
}

.highlights-container .project-name-heading::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -130px;
    width: 120px;
    height: 1px;
    background-color:#259485;
}

.highlights-box-main {
    position: relative;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 10px;
}

.highlights-box-main::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(38, 25, 4, 0.93), rgba(114, 87, 41, 0));
}

.highlights-box-main .check-img {
    width: auto;
    height: 20px;
    margin-right: 8px;
    position: relative;
    top: 5px;
}

.highlights-box-main .highlights-img {
    border-radius: 10px;
    position: relative;
    width: 100%;
}

.highlights-box-main ul {
    position: absolute;
    top: 90px;
    left: 40px;
    z-index: 2;
    width: 38%;
}

.highlights-box-main ul li {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 20px;
    list-style: none;
    display: flex;
    align-items: baseline;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.pricelist-container {
    background-color: black;
    color: rgb(255, 255, 255);
    position: relative;
    max-height: auto;
}

.pricelist-container .top-sub-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #259485;
    width: fit-content;
    margin: 0px auto 10px;
    text-transform: uppercase;
    color: #259485;
    
}

.pricelist-container .custom-section-heading {
    font-family: Roboto-Medium;
    color: rgb(255, 255, 255);
    font-size: 48px;
    letter-spacing: 0.5px;
}

.pricelist-container .project-name-heading {
    font-family: Roboto-Medium;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 30px;
    position: relative;
    left: 135px;
    letter-spacing: 0.5px;
    display: inline;
}

.pricelist-container .project-name-heading::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -130px;
    width: 120px;
    height: 1px;
    background-color: #259485;
}

.pricelist-container .col-sm-12.col-md-6.col-lg-6 {
    margin-top: 30px;
}

.pricelist-container .project-name-heading {
    font-size: 18px;
    margin-top: 8px;
    position: relative;
    left: 135px;
    top: 10px;
    color: #259485;
}

.pricelist-container .price-list {
    border: 2px solid #f0f1f1;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.pricelist-container .price-box-1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    text-align: center;
    justify-content: center;
}
.price-box-1  .typology-heading-2 span{
    display: block;
    font-size: 20px;
    padding-bottom: 8px;
}

.pricelist-container .typology-heading {
    font-size: 18px;
    letter-spacing: 3px;
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.pricelist-container .size-heading {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 34px;
    background-color: #259485;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px 16px;
}

.pricelist-container .typology-heading-2 {
    font-size: 32px;
    position: relative;
    top: 0px;
}

.pricelist-container .btn-custom-2 {
    display: block;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(173, 173, 173);
    font-size: 16px;
    position: relative;
    top: -6px;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);
}

.pricelist-container .starting-price-heading {
    font-size: 18px;
    letter-spacing: 3px;
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.pricelist-container .price-heading {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 34px;
    background-color: #259485;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1px 20px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.pricelist-container .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center {
    margin-bottom: 25px;
}

.pricelist-container .price-box-1 {
    margin: 8px 0px 5px;
}

.pricelist-container .price-box-1:nth-child(3) {
    border: none;
    padding-left: 15px;
}

.pricelist-container .price-box-1:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pricelist-container .circle-3 {
    padding: 10px 10px 50px 50px;
    border-width: 10px;
    border-color: 0e423b;
    top: 117px;
    left: 79%;
}

.strip-container-green {
    background-image: url("../images/slider-banner/banner1.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-size: cover;
}

.strip-container-green::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #0c0c0c8a;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.strip-container-green .btn-custom-3 {
    padding: 8px 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: 0e423b;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: Roboto-Medium;
    margin-top: 30px;
}

.strip-container-green .container {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
}

.strip-container-green h4 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.strip-container-green p {
    font-size: 36px;
    font-family: Roboto-Medium;
}

.amenities-container {
    background-color: var(--light-dark);
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.amenities-container .top-sub-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #259485;
    width: fit-content;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #259485;
    
}

.amenities-container .custom-section-heading {
    font-family: Roboto-Medium;
    color: var(--light-cream);
    font-size: 48px;
    letter-spacing: 0.5px;
}

.amenities-container .project-name-heading {
    color: #259485;
    font-family: Roboto-Medium;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 30px;
    position: relative;
    left: 135px;
    top: 10px;
    letter-spacing: 0.5px;
    display: inline;
}

.amenities-container .project-name-heading::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -130px;
    width: 120px;
    height: 1px;
    background-color: #259485;
}

.amenities-container .amenities-bg-img {
    height: 45vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.amenities-container .btn-custom-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: var(--dark);
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: Roboto-Medium;
    margin-top: 44px;
}

.amenities-container .amenity-p {
    margin-bottom: 5px;
    margin-top: 25px;
    letter-spacing: 0.5px;
}

.amenities-container .amenitiesr-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.amenities-container .amenitiesr-row .amenity-box-img {
    background-color:black;
    width: fit-content;
    padding: 5px;
    border-radius: 2px;
    margin: 0px auto;
}

.amenities-container .amenty-box p {
    letter-spacing: 0.5px;
    padding-top: 10px;
    text-align: center;
    font-family: Roboto-Medium;
    font-size: 16px;
}

.amenities-container .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6 {
    padding: 26px;
}

.amenities-container .btn-custom-2 {
    background-color: #259485;
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: Roboto-Medium;
}

.amenities-container .btn-custom img {
    width: auto;
    height: 25px;
    filter: invert(1);
    margin-right: 8px;
}

.amenities-container .btn-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: black;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: Roboto-Medium;
    margin-top: 20px;

}

.location-container {
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #164741;
}

.location-container .top-sub-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    letter-spacing: 0.5px;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: fit-content;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    
    margin: 0px auto 10px;
}

.location-container .custom-section-heading {
    font-family: Roboto-Medium;
    color: rgb(255, 255, 255);
    font-size: 48px;
    letter-spacing: 0.5px;
}

.location-container .project-name-heading {
    color: rgb(255, 255, 255);
    font-family: Roboto-Medium;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 30px;
    position: relative;
    left: 135px;
    top: 10px;
    letter-spacing: 0.5px;
    display: inline;
}

.location-container .location-map-img {
    border-radius: 10px;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.location-container .project-name-heading::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -130px;
    width: 120px;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.location-container .custom-12-heading {
    margin-bottom: 35px;
}

.location-container .custom-flex-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.location-container .flex-custom {
    width: calc(50% - 10px);
}

.location-container .para-content {
    letter-spacing: 0.5px;
    line-height: 26px;
    font-size: 15px;
    text-align: justify;
}

.location-container {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}

.location-container .location-side-img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.location-container .location-box {
    position: relative;
}

.location-container .location-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(80%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 13px;
}

.location-container .location-content p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Roboto-Medium;
    font-size: 19px;
}

.location-container .card {
    margin-bottom: 10px;
    border-radius: 23px;
    border: none;
}

.location-container .card-link {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: Roboto-Medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-container .card-header {
    background-color: transparent;
    padding: 6px 30px;
    border: none;
}

.location-container .location-icon {
    width: auto;
    height: 27px;
}

.location-container .card .card-body {
    padding: 0px 20px 10px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.location-container .card .card-body ul {
    list-style: none;
}

.location-container .card .card-body ul li {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location-container .card .card-body ul li span {
    background-color: #259485;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 10px;
}

.location-container .btn-custom img {
    width: auto;
    height: 25px;
    filter: invert(1);
    margin-right: 8px;
}

.location-container .btn-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #259485;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: Roboto-Medium;
    margin-top: 30px;
}

.location-container .circle-1 {
    padding: 30px;
    border-width: 10px;
    border-color: rgba(124, 141, 132, 0.55);
    border-radius: 100%;
    top: 13px;
    left: 8%;
}

.floorplam-container {
    background-color: var(--light-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.floorplam-container .custom-section-heading {
    font-family: Roboto-Medium;
    color: var(--light-cream);
    font-size: 48px;
    letter-spacing: 0.5px;
}

.floorplam-container .top-sub-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #259485;
    width: fit-content;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #259485;
    
}

.floorplam-container .project-name-heading {
    color: #259485;
    font-family: Roboto-Medium;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 30px;
    position: relative;
    left: 135px;
    top: 10px;
    letter-spacing: 0.5px;
    display: inline;
}

.floorplam-container .project-name-heading::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -130px;
    width: 120px;
    height: 1px;
    background-color: #259485;
}

.floorplam-container .top-sub-heading {
    font-size: 15px;
}

.floorplam-container .custom-section-heading {
    font-size: 36px;
}

.floorplam-container .project-name-heading {
    font-size: 15px;
}

.floorplam-container .nav.nav-tabs {
    margin-top: 50px;
}

.floorplam-container .nav-tabs .nav-item.show .nav-link, .floorplam-container .nav-tabs .nav-link.active {
    background-color: var(--light-cream);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    text-align: center;
    border-right: 2px solid var(--light-cream);
    color: rgb(255, 255, 255) !important;
}

.floorplam-container .btn-custom img {
    width: auto;
    height: 25px;
    filter: invert(1);
    margin-right: 8px;
}

.floorplam-container .btn-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #259485;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: Roboto-Medium;
    margin-top: 50px;
}

.floorplam-container .floorplan-img {
    width: 74%;
    display: block;
    margin: 0px auto;
}

.gallery-container {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--light-cream);
    color: rgb(255, 255, 255);
    position: relative;
}

.gallery-container .top-sub-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    letter-spacing: 0.5px;
    border-bottom: 1px solid rgb(240, 235, 206);
    width: fit-content;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgb(240, 235, 206);
    
}

.gallery-container .custom-section-heading {
    font-family: Roboto-Medium;
    color: rgb(255, 255, 255);
    font-size: 48px;
    letter-spacing: 0.5px;
}

.gallery-container .project-name-heading {
    color: rgb(240, 235, 206);
    font-family: Roboto-Medium;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 30px;
    position: relative;
    left: 135px;
    top: 10px;
    letter-spacing: 0.5px;
    display: inline;
}

.gallery-container .project-name-heading::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -130px;
    width: 120px;
    height: 1px;
    background-color: rgb(240, 235, 206);
}

.gallery-container .floorplan-img {
    margin: 0px auto;
    display: block;
}

.gallery-container .floorplan-img-2 {
    height: 45vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 30px;
}

.gallery-container .floorplan-p {
    letter-spacing: 0.5px;
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

.gallery-container .nav.nav-tabs .nav-link {
    text-align: center;
}

.gallery-container .nav.nav-tabs .nav-item a {
    text-align: center;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 120px;
}

.gallery-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    text-align: center;
    color: rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
}

.gallery-container .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: rgb(255, 255, 255);
    font-family: Roboto-Medium;
}

.gallery-container .tab-btn-heading {
    font-size: 15px;
    font-family: Roboto-Medium;
    letter-spacing: 0.5px;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-top: 8px;
    color: rgb(255, 255, 255);
}

.gallery-container .tab-icon {
    width: auto;
    height: 50px;
    filter: brightness(0) invert(1);
}

.gallery-container .custom-box-flex {
    display: flex;
}

.gallery-container .custom-box-flex .custom-col-2 {
    width: calc(80% - 5px);
}

.gallery-container .custom-box-flex .custom-col-1 {
    width: calc(20%);
}

.gallery-container .nav-link.active.show {
    border-right: 2px solid rgb(255, 255, 255);
}

.gallery-container .tab-content > .tab-pane .col-12.col-sm-12.col-md-6.col-lg-6 {
    margin-bottom: 30px;
}

.gallery-container .gallery-img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.gallery-container .nav-tabs {
    border-bottom: none !important;
}

.gallery-container .video-360 {
    width: 100%;
    height: 490px;
    object-fit: cover;
    border-radius: 20px;
    filter: blur(2px);
}

.gallery-container .video-box {
    position: relative;
    overflow: hidden;
}

.gallery-container .play-icon-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 50px;
    z-index: 1;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.gallery-container .col-6.col-sm-6.col-md-6.col-lg-6 {
    margin-bottom: 30px;
}

.contact-container {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.contact-container .footer-form {
    background-color: rgb(246, 246, 246);
    padding: 30px;
    border-radius: 20px;
}

.contact-container .footer-form-heading {
    font-family: Roboto-Medium;
    font-size: 30px;
    color: #164741;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 700;
    
}

.contact-container .footer-form .form-control {
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-cream);
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 14px;
}

.contact-container .footer-form .flex-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-container .footer-form .flex-form-group .form-group {
    width: calc(50% - 10px);
}

.contact-container .footer-form .btn-custom-2 {
    background-color: #259485;
    padding: 10px 50px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 30px auto 0px;
    display: block;
    border-radius: 5px;
}

.contact-container .custom-section-heading {
    font-family: Roboto-Medium;
    color: var(--light-cream);
    font-size: 48px;
    letter-spacing: 0.5px;
}

.contact-container .top-sub-heading {
    font-size: 18px;
    font-family: Roboto-Medium;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #259485;
    width: fit-content;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #259485;
    
}

.contact-container .custom-section-heading {
    font-size: 36px;
}

.contact-container .top-sub-heading {
    font-size: 15px;
}

.contact-container .para-content {
    letter-spacing: 0.5px;
    line-height: 26px;
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
}

.contact-container .project-rera-number {
    margin-top: 20px;
    font-family: Roboto-Medium;
    background-color: rgba(193, 193, 193, 0.23);
    width: fit-content;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 14px;
}

.contact-container .site-address {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-container .site-address .location-icon-img {
    width: auto;
    height: 19px;
    filter: invert(1);
}

.contact-container .site-address .box-location-icon {
    width: 45px;
    height: 45px;
    line-height: 42px;
    margin-right: 12px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
}

.contact-container .address {
    width: 80%;
    font-family: Roboto-Medium;
    color: #259485;
}

.contact-container .address span {
    display: block;
    font-size: 16px;
    font-family: Roboto-Medium;
    color: rgb(14, 13, 13);
    padding-top: 2px;
}

.footer-container {
    background-color:black;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.footer-container #more {
    display: none;
}

.modal-content {
    width: 70%;
    margin: 0px auto;
}

.modal-content h6 {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0px 5px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}

.modal-content .close {
    position: absolute;
    top: -10px;
    right: -9px;
    background-color: black;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 1;
    color: rgb(255, 255, 255);
    padding-bottom: 8px;
}

.modal-form {
    padding: 15px;
}

.modal-form .readmore.mt-0 button {
    width: 100%;
}

.modal-form .mail-icon {
    width: auto;
    height: 26px;
    color: #259485;
}

.mobile-section-1 {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #164741;
    z-index: 99;
    display: none;
}

.mobile-section {
    display: flex;
    justify-content: center;
}

.mobile-section-1 a.btn.btn-success.btn-block {
    background-color: #164741;
    width: 100%;
    border: 2px solid white;
    border-radius: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 13px;
}

.location-point li {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 20px;
    list-style: none;
    display: flex;
    align-items: baseline;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.location-point li img {
    width: auto;
    height: 20px;
    margin-right: 8px;
    position: relative;
    top: 5px;
}

.btn_sec {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pricelist-container .btn-custom-2 {
    width: auto;
    padding: 6px 30px;
}

.project_img img {
    width: 100%;
}
.mybox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.mybox p{
    font-size: 12px;
    line-height: 16px;
}

@media (max-width: 1600px) {
    .container {
        max-width: 95%;
    }

    .slider-container .flex-custom .flex-custom-2 {
        width: 78%;
    }

    .overview-contaier .custom-section-heading {
        font-size: 36px;
        width: 97%;
    }

    .overview-contaier .para-content {
        margin-bottom: 20px;
        letter-spacing: 0.5px;
        line-height: 26px;
        width: 89%;
        font-size: 15px;
        text-align: justify;
    }

    .overview-contaier .top-sub-heading {
        font-size: 15px;
    }

    .overview-contaier {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .overview-contaier .project-name-heading {
        font-size: 15px;
    }

    .highlights-container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .highlights-container .project-name-heading {
        font-size: 15px;
    }

    .highlights-container .top-sub-heading {
        font-size: 15px;
    }

    .highlights-container .custom-section-heading {
        font-size: 36px;
    }

    .pricelist-container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .pricelist-container .top-sub-heading {
        font-size: 15px;
    }

    .pricelist-container .custom-section-heading {
        font-size: 36px;
    }

    .pricelist-container .typology-heading {
        font-size: 16px;
    }

    .pricelist-container .starting-price-heading {
        font-size: 16px;
    }

    .pricelist-container .typology-heading-2 {
        font-size: 25px;
        position: relative;
    }

    .pricelist-container .btn-custom-2 {
        font-size: 15px;
        top: 2px;
    }

    .pricelist-container .project-name-heading {
        font-size: 15px;
    }

    .amenities-container .project-name-heading {
        font-size: 15px;
    }

    .amenities-container .amenity-p {
        font-size: 15px;
    }

    .amenities-container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .amenities-container .custom-section-heading {
        font-size: 36px;
    }

    .amenities-container .top-sub-heading {
        font-size: 15px;
    }

    .amenities-container .btn-custom-2 {
        margin-top: 18px;
        padding: 8px 10px;
        color: rgb(255, 255, 255);
        font-size: 15px;
    }

    .amenities-container .amenities-bg-icon {
        width: 300px;
        height: 100px;
    }

    .gallery-container .custom-section-heading {
        font-size: 36px;
    }

    .gallery-container .project-name-heading {
        font-size: 15px;
    }

    .gallery-container .tab-icon {
        width: auto;
        height: 38px;
    }

    .gallery-container .tab-btn-heading {
        font-size: 14px;
    }

    .gallery-container .top-sub-heading {
        font-size: 15px;
    }

    .location-container .top-sub-heading {
        font-size: 15px;
    }

    .location-container .custom-section-heading {
        font-size: 36px;
    }

    .location-container .project-name-heading {
        font-size: 15px;
    }
}
@media (max-width: 1500px) {
    .slider-content-2 {
        bottom: 33%;
    }
    .developer-logo {
        height: 52px;
    }
}

@media (max-width: 1366px) {
    .slider-img {
        height: 77vh;
    }

    .slider-container .flex-custom .flex-custom-2 {
        width: 78%;
    }

    .contact-container .footer-form-heading {
        font-size: 22px;
    }
    .slider-content-2 {
        bottom: 30%;
    }
}

@media (max-width: 768px) {
    .footer-f {
        height: 40px;
    }
    div#header_menu {
        overflow: unset;
    }

    .location-point {
        margin-top: 45px;
    }

    .menu-bar-img {
        width: auto;
        height: 35px;
    }

    .slider-container {
        padding-bottom: 30px;
    }

    .slider-img {
        height: 426px;
    }

    .slider-container .flex-custom .flex-custom-2 {
        width: 100%;
    }

    .slider-container .flex-custom .flex-custom-2 {
        width: 100%;
        margin-left: 0px;
        display: grid;
        justify-content: center;
    }

    .starting-price {
        padding: 3px 2px 3px 10px;
        font-size: 18px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .slider-box {
        width: 100%;
        border-radius: 20px;
        background-color: white;
    }

    .flex-button-custom {
        position: absolute;
        bottom: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        z-index: 5;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 35px;
        height: 35px;
    }

    .typology-heading-1 {
        font-size: 21px;
    }

    .project-logo-img {
        width: auto;
        height: 79px;
        margin-bottom: 8px;
    }

    .location-p {
        font-size: 18px;
        margin-bottom: 0px;
        padding-bottom: 3px;
        margin-top: 6px;
        text-align: center;
    }

    .slider-box::after {
        height: 26vh;
    }

    .slider-box::before {
        height: 28vh;
    }

    .slider-content {
        padding-left: 0px;
    }

    .developer-logo {
        height: 38px;
    }

    .starting-price {
        padding: 8px 8px 8px 10px;
    }

    .navbar-collapse {
        position: absolute;
        left: 0px;
        top: 45px;
        z-index: 8;
        width: 100%;
    }

    .nav-item.nav-item-2 {
        background-color: black;
        padding-left: 40px;
    }

    .container {
        max-width: 100%;
    }

    .navbar-nav .nav-link {
        padding-right: 0px;
        padding-left: 0px;
        color: rgb(255, 255, 255) !important;
    }

    ul.navbar-nav {
        background-color: black;
    }

    li.nav-item.last-li-2 {
        padding-left: 40px;
    }

    .stickyForm.scroll-content.slide_right.animated {
        display: none !important;
    }

    .enquiryBtn {
        display: none !important;
    }

    .mobile-section-1 {
        display: block;
    }

    .mobile-section-1 a.btn.btn-success.btn-block {
        padding-bottom: 8px;
        padding-top: 6px;
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

    .navbar-expand-md {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mobile-form {
        margin: 30px;
        margin-top: 5px;
        border-radius: 20px;
        background-color: #164741;
        color: rgb(255, 255, 255);
        border-bottom: 1px solid rgba(100, 101, 100, 0.27);
    }

    .mobile-form h6 {
        font-size: 24px;
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px 8px;
        border-bottom: 1px solid white;

    }

    .mobile-form .readmore.mt-0 button {
        width: 100%;
        background-color: black;
        margin-top: 7px;
    }

    .overview-contaier {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .overview-contaier .top-sub-heading {
        font-size: 14px;
    }

    .overview-contaier .custom-section-heading {
        font-size: 24px;
        width: 100%;
    }

    .overview-contaier .project-name-heading {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 25px;
        left: 30px;
    }

    .overview-contaier .project-name-heading::before {
        content: "";
        top: 11px;
        left: -28px;
        width: 21px;
        height: 1px;
    }

    .overview-contaier .para-content {
        margin-bottom: 15px;
        line-height: 24px;
        width: 100%;
        font-size: 14px;
    }

    .overview-contaier .overview-img-apart {
        border-radius: 10px;
        height: 400px;
        object-fit: cover;
    }

    .overview-contaier .highlights-box ul li .pdf-icon-img {
        height: 31px;
        padding: 5px;
        margin-right: 5px;
    }

    .overview-contaier .highlights-box {
        padding: 10px 10px 1px;
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .overview-contaier .highlights-box ul li p {
        font-size: 14px;
    }

    .overview-contaier .custom-group {
        padding: 0px;
        margin-top: 5px;
    }

    .overview-contaier .btn-custom {
        padding: 6px 10px;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .overview-contaier .btn-custom img {
        height: 24px;
    }

    .highlights-container .col-xl-12.text-center {
        text-align: left !important;
    }

    .highlights-container .custom-section-heading {
        font-size: 24px;
    }

    .highlights-container .top-sub-heading {
        font-size: 14px;
        margin-top: unset;
        margin-left: unset;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .highlights-container .project-name-heading {
        font-size: 14px;
    }

    .highlights-container .project-name-heading::before {
        content: "";
        top: 11px;
        left: -28px;
        width: 21px;
        height: 1px;
    }

    .highlights-container .project-name-heading {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 30px;
        left: 28px;
        top: 10px;
    }

    .highlights-container .circle-3 {
        top: 138px;
        left: 87%;
        display: none;
    }

    .highlights-box-main::after {
        display: none;
    }

    .highlights-box-main ul {
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 100%;
    }

    .highlights-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .highlights-box-main ul li {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 14px;
    }

    .highlights-box-main .check-img {
        width: auto;
        height: 15px;
        margin-right: 8px;
        position: relative;
        top: 3px;
    }

    .pricelist-container .top-sub-heading {
        font-size: 14px;
        margin-top: unset;
        margin-left: unset;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .pricelist-container {
        padding-top: 40px;
        padding-bottom: 40px;
       
    }

    .pricelist-container .project-name-heading::before {
        content: "";
        top: 11px;
        left: -28px;
        width: 21px;
        height: 1px;
    }

    .pricelist-container .project-name-heading {
        font-size: 14px;
    }

    .pricelist-container .custom-section-heading {
        font-size: 28px;
    }

    .pricelist-container .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.text-center {
        text-align: left !important;
    }

    .pricelist-container .project-name-heading {
        font-size: 14px;
        margin-top: -1px;
        position: relative;
        left: 29px;
        top: 7px;
    }

    .pricelist-container .price-box-1 {
        width: 100%;
        height: auto;
    }

    .pricelist-container .price-box-1 {
        border-right: none;
    }

    .pricelist-container .price-list {
        padding: 10px;
        height: 100%;
    }

    .pricelist-container .btn-custom-2 {
        font-size: 15px;
        position: unset;
        margin-top: 20px;
        padding: 6px 15px;
    }

    .pricelist-container .typology-heading-2 {
        font-size: 26px;
        position: unset;
        margin-top: 16px;
        margin-bottom: 15px;
        border-top: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    
    .pricelist-container .size-heading {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: unset;
        background-color: #259485;
        color: rgb(255, 255, 255);
        border-radius: 4px;
        padding: 0px 15px;
        margin-top: 10px;
    }

    .pricelist-container .price-heading {
        font-size: 18px;
        letter-spacing: 3px;
        line-height: unset;
        background-color: #259485;
        color: rgb(255, 255, 255);
        border-radius: 4px;
        padding: 0px 15px;
        margin-top: 10px;
    }

    .strip-container-green::after {
        background-color: rgba(0, 0, 0, 0.48);
    }

    .strip-container-green p {
        font-size: 26px;
    }

    .strip-container-green {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .amenities-container .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6 {
        padding: 0px 15px;
    }

    .amenities-container .custom-section-heading {
        font-size: 26px;
    }

    .amenities-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .amenities-container .top-sub-heading {
        font-size: 14px;
    }

    .amenities-container .project-name-heading::before {
        content: "";
        top: 11px;
        left: -28px;
        width: 21px;
        height: 1px;
    }

    .amenities-container .project-name-heading {
        left: 27px;
        top: 10px;
        font-size: 14px;
    }

    .amenities-container .custom-section-heading {
        font-size: 26px;
    }

    .amenities-container .amenitiesr-row {
        flex-wrap: wrap;
    }

    .amenities-container .amenty-box {
        width: calc(50% - 5px);
        margin-bottom: 20px;
    }

    .amenities-container .amenty-box p {
        padding-top: 10px;
        font-size: 15px;
    }

    .amenities-container .amenities-bg-img {
        height: auto;
        width: 100%;
        margin-bottom: 10px;
    }

    .amenities-container .amenity-p {
        margin-bottom: 5px;
        margin-top: 10px;
        text-align: justify;
    }

    .location-container {
        padding-top: 50px;
        padding-bottom: 50px;
        background-image: unset;
        background-color: var(--light-cream);
    }

    .location-container .col-sm-12.col-md-12.col-lg-12.custom-12-heading.text-center {
        text-align: left !important;
    }

    .location-container .top-sub-heading {
        font-size: 14px;
    }

    .location-container .circle-1 {
        padding: 12px;
        border-width: 5px;
        top: 13px;
        left: 73%;
    }

    .location-container .custom-section-heading {
        font-size: 26px;
    }

    .location-container .top-sub-heading {
        font-size: 14px;
        margin-top: unset;
        margin-right: unset;
        margin-left: unset;
        margin-bottom: 10px;
    }

    .location-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .location-container .project-name-heading::before {
        content: "";
        top: 11px;
        left: -28px;
        width: 21px;
        height: 1px;
    }

    .location-container .project-name-heading {
        font-size: 14px;
        left: 32px;
        top: 10px;
    }

    .location-container .circle-3 {
        display: none;
    }

    .location-container .circle-1 {
        padding: 16px;
        top: 8px;
        left: 75%;
    }

    .location-container .para-content {
        line-height: 24px;
        font-size: 14px;
        text-align: justify;
    }

    .location-container .location-map-img {
        margin-top: 20px;
    }

    .location-container div#accordion {
        margin-top: 40px;
    }

    .floorplam-container .floorplan-img {
        width: 100%;
    }

    .floorplam-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .floorplam-container .custom-section-heading {
        font-size: 26px;
    }

    .floorplam-container .nav-tabs .nav-item {
        width: 50%;
    }

    .floorplam-container .btn-custom {
        padding: 8px 10px;
        font-size: 15px;
        margin-top: 24px;
    }

    .floorplam-container .project-name-heading {
        font-size: 14px;
        left: 30px;
    }

    .floorplam-container .project-name-heading::before {
        content: "";
        top: 11px;
        left: -28px;
        width: 21px;
        height: 1px;
    }

    .floorplam-container .top-sub-heading {
        font-size: 14px;
    }

    .gallery-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .gallery-container .custom-section-heading {
        font-size: 26px;
    }

    .gallery-container .project-name-heading {
        font-size: 14px;
        left: 30px;
    }

    .gallery-container .project-name-heading::before {
        content: "";
        top: 11px;
        left: -28px;
        width: 21px;
        height: 1px;
    }

    .gallery-container .floorplan-img-2 {
        height: auto;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .gallery-container .custom-box-flex .tab-pane .col-6.col-sm-6.col-md-6.col-lg-6 {
        padding: 5px;
        margin-bottom: 5px;
    }

    .gallery-container .custom-box-flex .tab-pane .row {
        margin: 0px;
    }

    .gallery-container .custom-box-flex .tab-pane .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .gallery-container .gallery-img {
        height: 125px;
    }

    .gallery-container .tab-icon {
        width: auto;
        height: 30px;
    }

    .gallery-container .nav.nav-tabs .nav-item a {
        margin-bottom: 10px;
        width: 80px;
        padding-left: 5px;
        padding-right: 5px;
        height: 70px;
    }

    .gallery-container .tab-pane.container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .contact-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .contact-container .footer-form-heading {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .contact-container .footer-form {
        padding: 20px;
        border-radius: 20px;
    }

    .contact-container .footer-form .flex-form-group .form-group {
        width: calc(100% + 0px);
        margin-bottom: 10px;
    }

    .contact-container .top-sub-heading {
        font-size: 14px;
        margin-top: 20px;
    }

    .contact-container .custom-section-heading {
        font-size: 26px;
    }

    .contact-container .para-content {
        line-height: 24px;
        font-size: 14px;
        margin-top: 10px;
    }

    .contact-container .site-address {
        margin-top: 25px;
    }

    .contact-container .site-address .box-location-icon {
        width: 40px;
        height: 40px;
        line-height: 37px;
        margin-right: 12px;
        position: relative;
        top: 8px;
    }

    .contact-container .footer-form .flex-form-group {
        flex-wrap: wrap;
    }

    .contact-container .address span {
        font-size: 14px;
    }

    .contact-container .address {
        font-size: 14px;
    }

    .contact-container .site-address {
        align-items: baseline;
    }

    .footer-container {
        font-size: 13px;
        padding-top: 30px;
        padding-bottom: 70px;
    }

    .modal-content {
        width: 84%;
        margin: 0px auto;
    }

    .gallery-container .video-360 {
        width: 100%;
        height: 277px;
    }

    .starting-price {
        position: relative;
        left: 0px;
    }
    .slider-box::before {
        background-color: unset;
    }
    .slider-content-2 {
        bottom: unset;
        position: relative;
        padding: 10px;
    }
    .bann-p {
        font-size: 31px;
    }
    .starting-price span, .location-heading{
        background-color: #fff;
        color: var(--light-cream)
    }
    .slider-img {
        height: 202px;
    }

    .phone-icon {
       display: none;
    }

    .form-close {
        display: none;
    }
    
}

@media (max-width: 380px) {


    .carousel-control-prev, .carousel-control-next {
        width: 29px;
        height: 29px;
    }

    .project-logo-img {
        width: auto;
        height: 74px;
        margin-bottom: 8px;
    }

    .typology-heading-1 {
        font-size: 17px;
    }

    .location-p {
        font-size: 16px;
    }

    .starting-price {
        font-size: 15px;
        padding: 8px 8px 8px 10px;
    }

    .mobile-form {
        padding: 20px;
    }

    .form-control {
        font-size: 14px;
    }

    .mobile-form .form-control {
        font-size: 14px;
    }

    .mobile-form .form-group {
        margin-bottom: 6px;
    }

    .envelope-icon {
        height: 26px;
    }

    .mobile-form h6 {
        font-size: 18px;
        width: 100%;
        margin-bottom: 10px;
        gap: 0px 8px;
    }

    .overview-contaier .project-name-heading {
        left: 14px;
    }

    .overview-contaier .custom-section-heading {
        font-size: 20px;
    }

    .overview-contaier .highlights-box ul li p:last-child {
        margin-left: 40px;
    }



    .menu-bar-img {
        height: 28px;
    }

    .starting-price span {
        padding: 5px 14px;
    }

    .overview-contaier .highlights-box ul li {
        display: grid;
    }

    .overview-contaier .highlights-box ul li {
        width: 100%;
    }

    .highlights-container .custom-section-heading {
        font-size: 20px;
    }

    .pricelist-container .custom-section-heading {
        font-size: 20px;
    }

    .pricelist-container .project-name-heading {
        left: 20px;
    }

    .strip-container-green p {
        font-size: 20px;
    }

    .amenities-container .custom-section-heading {
        font-size: 20px;
    }

    .amenities-container .project-name-heading {
        top: 8px;
        font-size: 14px;
    }

    .amenities-container .amenty-box p {
        padding-top: 10px;
        font-size: 14px;
    }

    .amenities-container .amenity-p {
        font-size: 14px;
    }

    .location-container .custom-section-heading {
        font-size: 20px;
    }

    .location-container .project-name-heading {
        left: 21px;
    }

    .location-container .card .card-body ul li {
        display: grid;
    }

    .location-container .card .card-body ul li span {
        width: fit-content;
    }

    .floorplam-container .custom-section-heading {
        font-size: 20px;
    }

    .floorplam-container .project-name-heading {
        font-size: 14px;
        left: 16px;
    }

    .floorplam-container .nav-tabs .nav-item {
        width: 100%;
        text-align: center;
    }

    .gallery-container .gallery-img {
        height: 89px;
    }

    .gallery-container .custom-section-heading {
        font-size: 20px;
    }

    .gallery-container .project-name-heading {
        left: 20px;
    }

    .contact-container .address span {
        font-size: 14px;
    }

    .contact-container .address {
        font-size: 14px;
    }

    .contact-container .site-address {
        align-items: baseline;
    }

    .contact-container .custom-section-heading {
        font-size: 20px;
    }

    .contact-container .footer-form {
        padding: 16px;
    }

    .contact-container .footer-form .form-control {
        height: 40px;
    }

    .contact-container .footer-form-heading {
        font-size: 16px;
    }

    .gallery-container .tab-icon {
        height: 23px;
    }

    .modal-content {
        width: 99%;
        margin: 0px auto;
    }

    .pricelist-container .col-sm-12.col-md-4.col-lg-4 {
        margin-bottom: 20px;
    }
}